<div class="landing">
  
  <figure class="logo"><%= image_tag "salubrity_logo.png" %></figure>

  <p>Sex. Health. STIs. When there isn't a safe space to spark a conversation about some of life's most urgent topics, there's Salubrity. It's closer to home than you think.</p>

  <p>Just ask your friends.</p>

  <%= render "devise/shared/links" %>

  <p class="disclaimer">Don't worry, your identity is anonymous<br> and we won't post to your timeline.</p>
</div>

