html {
	background-color: $sand;
}
a {
	color: $blue;
	text-decoration: none;
}
h1 {
	color: $red;
	font: italic normal bold 50.41px/62px "Century Gothic";
}

h2 {
	font: italic normal bold 20px/30px "Century Gothic";
	text-align: center;
}

.blue {
 	background-color: $blue;
 }

.red {
	background-color: $red;
}

.green {
	background-color: $green;
}
.horizontal-logo {
	margin-top: 50px;
	text-align: center;

}
.settings {
	width: 600px;
	margin: 20px auto;
	text-align: center;
}
.disclaimer {
	color: #333;
	font-size: .75rem;
}
.stats-container {
	width: 600px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.35);
	border: 1px solid #979797;
	box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.50);
	border-radius: 23px;
}
.stats {
	font-size: 100px;
	color: $red;
	display: inline-block;
	width: 190px;
	height: 200px;
	text-align: center;
}
article {
	display: inline-block;
	margin: 10px;
	line-height: 20px;
}
.comment {
	width: 350px;
	margin: 0 auto;
}
iframe {
	margin: 0 auto;
}
.userinfo {
	position: absolute;
	top: 20px;
	right: 20px;
	text-align: right;
	line-height: 40px;
}
.avatar {
	width: 50px;
	float: right;
}
.avatar img {
	width: 100%;
	border-radius: 50%;
	border: 2px solid $green;
	margin-left: 10px;
}
input[type='submit'] {
	padding: 15px 20px;
	color: #fff;
	background-color: $red;
	border: none;
	outline: 0;
	border-radius: 3px;
	font: italic normal bold 16px/16px "Century Gothic";
	&:active {
		background-color: $blue;
	}
}
textarea {
	height: 100px;
	width: 300px;
}
.center-form {
	text-align: center; 
}